body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
}

/* Navbar work starts here */

.navbar{
    position: absolute;
}

.nav-logo{
    height: 35px;
    width: min-content;
    border-radius: 0%;
    margin-left: 70px;
    padding-right: 30px;
}

.logo-line{
    height: 30px;
    width: min-content;
    padding-right: 30px;
}

.nav-item{
    padding:0px 10px;
}

.nav-link{
    color: #FFF5DD;
}

.nav-link:hover{
    color:aqua;
}

.navbar-text {
    color: #FFF5DD;
    margin-right: 70px;
}

.navbar-text:hover{
    color: aqua;
}

/* Navbar work ends here */



/* Hero section work starts here */

.main-div{
    background-image: url("./images/self-pic.jpg");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 13%;
    color: #FFF5DD;
    position: relative;
}

.main-div > p, h1, h4, button {
    padding: 20px;
}

.main-div-h4{
    font-size: 20px;
    font-style: italic;
}

.main-div-h1{
    text-align:center;
    text-transform: capitalize;
    font-weight: 600;
}

.main-div-p{
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
    line-height: 2.0;
    font-size: smaller;
}

.main-btn{
    border: none;
}

.main-btn:hover{
    background-color: #9C4A38;
    border: none;
}

.main-linkings {
    position: absolute;
    bottom: 20px;   
    right: 20px;      
    display: flex;     
    gap: 5px; 
}

.img-link{
    padding: 10px;
    height: 35px;
}

/* Hero section work ends here */



/* Main section work starts here */

.main-section{
    margin-bottom: 20px;
}

.achievements-sec{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    color: #FFF5DD;
    height: 277px;
    width:100%;
    border-bottom: 1px solid #FFF5DD;
    box-sizing: border-box; 
}


.achi-head{
    font-size: 25px;
}

.achi-des{
    font-size: 10px;
    text-align: center;
}


.about-me-sec{
    padding: 80px;
    display: grid;
    grid-template-columns: auto;
    /* background-color: black; */
    color: #FFF5DD;
    height: max-content;
}

.about-sec-dot{
    position: relative;
    height: 150px;
    width: 150px;
    z-index: 0;
}

.about-sec-pic{
    position:absolute;
    height: 320px;
    width: 250px;
    z-index: 1;
    left: 377px;
    margin-top: 30px;
}


.about-h4{
    font-size: 15px;
}

.about-h3{
    font-size: 37px;
    padding-inline: 120px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}


.about-p{
    font-size: 11px;
    padding-inline: 70px;
    text-align: justify;
}

.about-ul{
    font-size: 15px;
    list-style: none;
}

.my-service-sec{
    margin-top: 80px;
    color: #FFF5DD;
}


.my-service-pic{
    height: 30px;
    width: 30px;
}


.my-service-div{
    border: 1px solid #FFF5DD;
    height: 350px;
    width: fit-content;
    text-align: left; 
    margin: 20px;
    display: grid;
    grid-row: inherit;
    padding-top: 70px;
    padding-bottom: 0px;
    font-family: monospace;
}

.my-service-div:hover{
    /* transform:rotate(-360deg); */
    transition:1s ;
}

.my-service-div p{
    font-size: 14px;
    color: #FDE3A7;
    font-weight: lighter;
}

.my-service-div a{
    color: white;
    width: max-content;
}

.my-service-div a:hover{
    color: red;
}


.my-service{
    text-align: left;
    margin : 20px;
}


.my-service  p ,
.my-service h3 ,
.my-service button{
    margin-top: 40px;
}

.my-service h3{
    font-size: 50px;
    font-weight: bolder;
}

.my-service button{
    background-color: #9C4A38;
    border: none;
    border-radius: 0px;
}

.my-service button:hover{
    border: none;
}

.my-service p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e56b4f;
}


.my-skill-sec{
    text-align: center;
    color: #FDE3A7;
    background-color: rgb(52, 49, 49);
}

.my-skill-sec p{
    padding-top: 40px;
    color: #9C4A38;
}

.my-skill-sec h2{
    padding-bottom: 90px;
}

.year-sec-item{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px 20px;
    border-bottom: 2px solid #FDE3A7;
}

.year-sec-item img{
    padding-right: 35px;
    height: 70px;
    width: 100px;
}

.year-sec-item p {
    padding-top: 20px;
    padding-right: 100px;
    color: #FFF5DD;
}


.year-sec-item-des{
    font-size: 13px;
    text-align: left;
}

.year-sec-item-type{
    font-size: large;
}


.main-event-sec{
    display: flex;
    flex-direction: column;
    color: #FDE3A7;
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.event-portfolio{
    color: #9C4A38;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.event-heading{
    color: aliceblue;
    font-size: 40px;
    margin-bottom: 30px;
}

.event-title-part{
    display: flex;
    flex-direction:row;
}

.event-title-btn{
    padding-top: 90px;
    padding-left: 600px;
}

.event-title-button{
    color: #FFF5DD;
    background-color:#9C4A38;
    border: none;
    border-radius: 0px;
}

.event-title-button:hover{
    border: none;
}

.event-main-head{
    font-size: 29px;
    color: #FFF5DD;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.event-main-head img{
    padding-left: 20px;
}

.event-main-name{
    color: #FDE3A7;
    padding: 10px;
}

.event-main-client{
    color: #66625a;
}

.event-main-category{
    color: #FDE3A7;
    padding: 10px;
}

.event-main-cat{
    color: #66625a;
}


.event-main-des{
    color: #FDE3A7;
    padding: 10px;
}


.event-main-btn{
    color: #FDE3A7;
    background-color: #e56b4f;
    border: none;
    border-radius: 0px;
}


.event-main-img{
    width: 320px;
    height: 350px;
}


.client-sec-heading{
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: auto;
    align-items:end;
    margin-top: 50px;
}

.client-sec-title{
    color:#9C4A38;
    font-size: 12px;
}

.client-sec-moto{
    color: #FFF5DD;
    font-size: 40px;
}

.client-sec-btn{
    color: #FFF5DD;
    background-color: #9C4A38;
    border: none;
    border-radius: 0px;
    width: 120px;
    margin-left: 800px;
}

.client{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.client-sec{
    color: #FFF5DD;
}

.card{
    width: max-content;
    border: none;
    border-radius: 0px;
    margin: 70px;
    background-color: black;
}

.client-sec-img{
    width: 320px;
    height: 350px;
}

.card-body{
    text-align: center;
}

.client-sec-name{
    color: aliceblue;
    font-size: 23px;
}


.client-sec-job{
    color: #9C4A38;
    font-size: 14px;
}

.client-linkings{
    padding-left: 105px;
}

.client-linkings-img{
    height: 20px;
    width: 17px;
    margin: 5px;
}

/* Main section work ends here */




/* Footer section work starts here */
.footer-sec{
    background-color: #3f3a3a;
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
}

.footer-contacts{
    margin-right: auto;
    padding-left: 100px;
}

.footer-contacts p{
    color: #9C4A38;
    font-size: 14px;
}

.footer-contacts h2{
    color: #FFF5DD;
    font-size: 40px;
}


.input-row {
    display: flex;
    flex-direction: row;
    gap: 30px; 
    padding: 15px;
    text-align: start;
    color: #FDE3A7;
  }
  
  .input-row:first-child {
    margin-bottom: 15px;
  }
  
  input {
    flex: 1; 
    padding: 8px;
    background-color: #3f3a3a;
    width: 360px;
    margin-right: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid #FDE3A7;
    box-sizing: border-box;
  }

  input::placeholder {
    color: #FFF5DD;
  }


#name {
    padding-bottom: 100px;
}

#email, #f-name, #l-name{
    padding-bottom: 20px;
}

/* Footer section work ends here */