body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Navbar work starts here */

.navbar{
    position: absolute;
    background-color:rgb(81, 81, 81);
}

.nav-logo{
    height: 35px;
    width: min-content;
    border-radius: 0%;
    margin-left: 70px;
    padding-right: 30px;
}

.logo-line{
    height: 30px;
    width: min-content;
    padding-right: 30px;
}

.nav-item{
    padding:0px 10px;
}

.nav-link{
    color: #FFF5DD;
}

.navbar-text > a {
    color: #FFF5DD;
    margin-right: 70px;
}

/* Navbar work ends here */